$icomoon-font-path: "fonts" !default;

$icon-arrrow-down: \e909;
$icon-arrow-left: \e908;
$icon-arrow-top: \e90a;
$icon-check: \e90b;
$icon-close: \e90c;
$icon-close-fill: \e90d;
$icon-plus: \e903;
$icon-logo: \e902;
$icon-star-fill: \e90e;
$icon-star-border: \e910;
$icon-people: \e90f;
$icon-messages: \e911;
$icon-calendar: \e912;
$icon-arhive: \e906;
$icon-delete: \e907;
$icon-edit: \e905;
$icon-filters: \e900;
$icon-search: \e901;
$icon-pdf: \e904;

