@import '../icomoon/style.scss';

/*============== icons ===================*/
[class*="icon-"]:before {
  @extend .icomoon;
  display: inline-block;
  width: 16px;
  height: 16px;
  background-size: contain;
  background-repeat: no-repeat;
}

.icon-head-hunter:before {
  content: '';
  background-image: url('/img/social-icons/head-hunter.svg');
}

.icon-job-tut:before {
  content: '';
  background-image: url('/img/social-icons/job-tut.svg');
}

.icon-facebook:before {
  content: '';
  background-image: url('/img/social-icons/facebook.svg');
}

.icon-github:before {
  content: '';
  background-image: url('/img/social-icons/github.svg');
}

.icon-linkedin:before {
  content: '';
  background-image: url('/img/social-icons/linkedin.svg');
}

.icon-close {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
}
